$canvas-width = 300px
$canvas-height = 300px

/*.container*/
/*position: relative*/
/*width: $canvas-width*/
/*height: $canvas-height*/
/*outline: 1px solid blue*/

/*.stache*/
/*position: absolute*/
/*top: 0*/
/*left: 0*/
/*z-index: 2*/
/*width: 200px*/
/*height: 66px*/

/*.canvas*/
/*position: absolute*/
/*top: 0*/
/*left: 0*/
/*width: $canvas-width*/
/*height: $canvas-height*/
/*z-index: 1*/
