doctype html
html
  head
    title Ranchero Booth
    link(href="css/index.css", rel="stylesheet", type="text/css")

  body
    img.title(alt="Ranchero Booth", src="img/title.png")

    .container
      button.btn.choose Choose your Mug
      input.file(type="file")
      canvas.canvas(height="300", width="300")
      a.btn.download.is-hidden(download="rancheroified.jpg") Download

    script(src='js/dist.js')
