doctype html
html
  head
    title Ranchero Booth
    link(href="css/index.css", rel="stylesheet", type="text/css")

  body
    img.title(alt="Ranchero Booth", src="img/title.png")

    .container
      button.btn.chooseVid Capture
      .prompt or
      button.btn.choose Choose

      input.file(type="file")

      video.video
      button.btn.capture Use

      canvas.canvas(height="300", width="300")

      a.btn.download(download="rancheroified.png") Download

    script(src='js/dist.js')
