doctype html
html
  head
    title Ranchero Booth
    link(href="css/index.css", rel="stylesheet", type="text/css")

  body
    h1 Ranchero Booth

    input.file(type="file")
    canvas.canvas(height="300", width="300")
    // a.download(download="rancheroified.jpg") Download

    script(src='js/dist.js')
